<style>
.grading-content {
  padding: 4% 0 60px 0;;
}

.my-grading-input {
  margin: 10px auto 0 auto;
  position: relative;
}

.my-grading-profile {
  margin: 10px auto 0 auto;

}

.my-grading-profile-item {
  margin: 0 auto 0 auto;
}


.my-grading-profile-property {
  text-align: center;
  margin-bottom: 10px;
}

.my-grading-profile-image {
  height: 200px;
  width: 200px;
  margin: 0 auto 10px auto;
  border: solid #bfbcbc 1px;
  border-radius: 2%;
}

.my-grading-input-button {
  text-align: center;
  margin: 0 auto;
}

.button-wrapper {
  text-align: center;
}

.my-button {
  background-color: #dc8080;
}

.my-button:hover {
  background-color: #de8e8e;
}

.my-back-button {
  background-color: #fafafa;
  color: gray;
}

.my-back-button:hover {
  background-color: #dedede;
}

.dummy-content {
  height: 100px;
}

.sai-account1 {
  background: url('../../img/sai-account1.jpg') center / cover;
  background-repeat: no-repeat;
}
.sai-account2 {
  background: url('../../img/sai-account2.jpg') center / cover;
  background-repeat: no-repeat;
}
.sai-account3 {
  background: url('../../img/sai-account3.jpg') center / cover;
  background-repeat: no-repeat;
}
.sai-account4 {
  background: url('../../img/sai-account4.jpg') center / cover;
  background-repeat: no-repeat;
}

.my-float-left {
  float: left;
}

.my-float-clear {
  clear: both;
}

.my-breadcrumb {
  margin: 2% 2%;
}

.my-breadcrumb-item {
  color: gray;
  display: block;
}

.my-breadcrumb-link {
  padding-top: 2px;
  cursor: pointer;
  cursor: hand;
}
</style>

<div class="my-breadcrumb">
  <div class="my-float-left my-breadcrumb-item my-breadcrumb-link" (click)="linkProjectList()">ProjectList</div>
  <i class="material-icons my-breadcrumb-item my-float-left">navigate_next</i>
  <div *ngIf="project" class="my-float-left my-breadcrumb-item my-breadcrumb-link" (click)="linkProject(project.id)">{{project.title}}</div>
  <i class="material-icons my-breadcrumb-item my-float-left">navigate_next</i>
  <div *ngIf="member" class="my-float-left my-breadcrumb-item my-breadcrumb-link">{{member.name}}</div>
</div>
<div class="my-float-clear"></div>

<div class="mdl-grid grading-content" *ngIf="member">
<div class="my-grading-profile mdl-cell mdl-cell--4-col">
  <div class="my-grading-profile-image {{member.image}}"></div>
  <div class="my-grading-profile-item"><h2 class="my-grading-profile-property">{{member.name}}</h2></div>
  <div class="my-grading-profile-item"><p class="my-grading-profile-property">{{member.detail}}</p></div>
</div>

<div class="my-grading-input mdl-cell mdl-cell--4-col">
<form>
  <legend>採点</legend>
  <div class="mui-select">
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label>感動性</label>
  </div>
  <div class="mui-select">
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label>実現性</label>
  </div>
  <div class="mui-select">
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label>ワカモノ性</label>
  </div>
</form>
<div class="button-wrapper">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored my-button">送信</button>
</div>
</div>

</div>

<div class="button-wrapper">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored my-back-button" (click)="linkProject(project.id)">戻る</button>
</div>

<div class="dummy-content"></div>
