<style>
.grading-content {
  padding: 20px 0 60px 0;;
}

.my-grading-input {
  margin: 10px auto 0 auto;
  position: relative;
}

.my-grading-profile {
  margin: 10px auto 0 auto;

}

.my-grading-profile-item {
  margin: 0 auto 0 auto;
}


.my-grading-profile-property {
  text-align: center;
  margin-bottom: 10px;
}

.my-grading-profile-image {
  height: 200px;
  width: 200px;
  background: url('../../img/sai-icon.png') center / contain;
  background-repeat: no-repeat;
  margin: 0 auto 10px auto;
  border: solid #bfbcbc 1px;
  border-radius: 2%;
}

.my-grading-input-button {
  text-align: center;
  margin: 0 auto;
}

.button-wrapper {
  text-align: center;
  width: 100%;
  position: absolute;
  left: -30px;
}

.my-button {
  background-color: #dc8080;
  margin: 0 50%;
}

.my-button:hover {
  background-color: #de8e8e;
}

.dummy-content {
  height: 100px;
}
</style>



<div class="mdl-grid grading-content" *ngIf="member">
<div class="my-grading-profile mdl-cell mdl-cell--4-col">
  <div class="my-grading-profile-image"></div>
  <div class="my-grading-profile-item"><h2 class="my-grading-profile-property">{{member.name}}</h2></div>
  <div class="my-grading-profile-item"><p class="my-grading-profile-property">{{member.detail}}</p></div>
</div>

<div class="my-grading-input mdl-cell mdl-cell--4-col">
<form>
  <legend>採点</legend>
  <div class="mui-select">
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label>感動性</label>
  </div>
  <div class="mui-select">
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label>実現性</label>
  </div>
  <div class="mui-select">
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label>ワカモノ性</label>
  </div>
</form>
<div class="button-wrapper">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored my-button">送信</button>
</div>
<div class="dummy-content"></div>
</div>


</div>
